.standings {
  background: #e5f3f8;
  padding: 6.25rem 0;
  position: relative;
  z-index: 2;
  margin-bottom: 6.25rem;
}
.standing_cards_title {
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  color: #081027;
  margin-top: 3.125rem;
}
