.standings {
  background: #e5f3f8;
  padding: 6.25rem 0;
  position: relative;
  z-index: 2;
  margin-bottom: 6.25rem;
}
.standing_cards_title {
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  color: #081027;
  margin-top: 3.125rem;
}
.standing_cards {
  margin-left: 5%;
  margin-top: 1.875rem;
}
.standing_teams_specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.standing_teams_specs_left {
  display: flex;
  align-items: center;
}
.standing_tab {
  /* border: 2px solid red; */
  padding: 0.813rem 0.938rem;
  font-weight: normal;
  font-size: 0.875rem;
  color: #081027;

  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.standing_tab.tab_active {
  color: #33a2d2;
  border-bottom: 2px solid #33a2d2;
}
.standing_teams_specs_right {
  display: flex;
  align-items: center;
}
.standing_select {
  padding: 0.813rem 0.938rem;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}
.standing_select .title {
  font-weight: normal;
  font-size: 0.875rem;
  color: #081027;
  margin-right: 1rem;
}
.standing_select .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.standing_select:not(:last-child) {
  margin-right: 0.625rem;
}
.standing_select .dropdown {
  /* border: 2px solid red; */
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
.dropdown_pan {
  border: 2px solid red;
  z-index: 100;
}

@media (max-width: 1000px) {
  .standing_tab {
    padding: 0.813rem 0.6rem;
  }

  .standing_select {
    padding: 0.813rem 0.6rem;
  }
  .standing_select .title {
    margin-right: 0.6rem;
  }
}

@media (max-width: 900px) {
  .standing_teams_specs {
    display: flex;
    align-items: unset;
    justify-content: unset;
    flex-direction: column;
  }
  .standing_teams_specs_left {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 410px) {
  .standing_teams_specs_right {
    display: flex;
    align-items: unset;
    flex-wrap: wrap;
  }
  .standing_select {
    margin-bottom: 1rem;
  }
}
