.latest_news_card {
  width: 380px;
  background: #ffffff;
  border: 1px solid #dedee4;
  border-radius: 10px;
  margin-bottom: 3.188rem;
  /* margin: 3.125rem; */
}
.latest_news_card_img {
  width: 100%;
  height: 310px;
}
.latest_news_card_content {
  padding: 1.875rem;
}
.latest_news_card_title {
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 24px;
  color: #081027;
  margin-bottom: 0.625rem;
}
.latest_news_card_subtitle {
  font-weight: normal;
  font-size: 0.813rem;
  line-height: 22px;
  color: #6e7077;
}
