.matches_details {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.mathes_title_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mathes_title_bar_right {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 500px) {
  .mathes_title_bar {
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    gap: 20px;
  }

  .mathes_title_bar_right {
    flex-wrap: wrap;
  }
}
