.get_amazed {
  width: 100%;
  height: 700px;
  background: #081027;
  padding-left: 6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 6.25rem;
}
.get_amazed::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: -10%;
  right: 20px;
  background: url(../../assets/images/mobiles-mockup.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  /* border: 2px solid red; */
}

@media (min-width: 1500px) {
  .get_amazed::before {
    top: -15%;
    right: 50px;
  }
}

.get_amazed_content {
  width: 40%;
}
.get_amazed_content_title {
  font-weight: normal;
  font-size: 2.25rem;
  line-height: 48px;
  color: #ffffff;
  margin-bottom: 1.313rem;
}
.get_amazed_content_logo {
  margin-bottom: 1.375rem;
}
.get_amazed_content_subtitle {
  font-weight: normal;
  font-size: 0.938rem;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 3.125rem;
}
.get_amazed_btns_title {
  font-weight: normal;
  font-size: 0.938rem;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 1.25rem;
}
.get_amazed_content_btns {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.get_amazed_content_get_app {
  display: inline-block;
  text-decoration: none;
}

@media (max-width: 1300px) {
  .get_amazed::before {
    width: 40%;
    top: 50%;
    transform: translateY(-50%);
  }

  .get_amazed_content {
    width: 50%;
  }
}

@media (max-width: 900px) {
  .get_amazed {
    width: 100%;
    height: 900px;
    background: #081027;
    justify-content: flex-start;
    padding: 4rem 4rem;
  }

  .get_amazed::before {
    content: "";
    width: 60%;
    top: 30%;
    left: 50%;
    transform: translateY(0%) translateX(-50%);
  }

  .get_amazed_content {
    width: 100%;
  }
}

@media (max-width: 510px) {
  .get_amazed {
    height: 1100px;
  }
  .get_amazed::before {
    content: "";
    width: 80%;
    height: 100%;
    bottom: 0%;
    right: 0px;
  }
}
@media (max-width: 400px) {
  .get_amazed {
    height: 1000px;
  }
  .get_amazed::before {
    content: "";
    width: 80%;
    height: 100%;
    bottom: 0%;
    right: 0px;
  }
}
@media (max-width: 350px) {
  .get_amazed {
    height: 1120px;
  }
  .get_amazed::before {
    content: "";
    width: 80%;
    height: 100%;
    bottom: 0%;
    right: 0px;
  }
}
