.batting_stats_tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.img_tab {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  cursor: pointer;
  color: #c4c4c4;
  border: none;
  outline: none;
  background-color: white;
}
.img_tab.img_tab_active {
  color: #33a2d2;
}
