.squad_player_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 20px;

  width: 228px;
  height: 159px;

  border: 1px solid #dedee4;
  border-radius: 10px;
}
.squad_player_card_name {
  font-weight: bold;
  font-size: 1rem;
  line-height: 24px;
  color: #081027;
}
.squad_player_card_img_wrapper {
  position: relative;
}
.player_captian {
  /* border: 2px solid red; */
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.player_captian_c {
  width: 24px;
  height: 24px;
  background: #33a2d2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dedee4;
}
.player_captian_gloves {
  width: 24px;
  height: 24px;
  background: #e55353;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dedee4;
}
