.score_card_header {
  background: rgba(255, 255, 255, 0.05);
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.125rem;
}

.score_card_header_left {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.score_card_header_left_date {
  font-size: 1rem;
  color: #ffffff;
}

.score_card_left_live {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 10px;
  width: 53px;
  height: 32px;
  background: rgba(229, 83, 83, 0.9);
  border-radius: 5px;
  color: white;
  font-size: 0.938rem;
}

.score_card_header_right {
  display: flex;
  align-items: center;
}

.score_card_header_right_title {
  font-size: 1rem;
  color: #ffffff;
  margin-right: 1rem;
}

.score_card_header_right_social_icons {
  display: flex;
  align-items: center;
}

.score_card_header_share_btn {
  display: none;
}

@media (max-width: 1200px) {
  .score_card_header {
    padding: 0 2rem;
  }
}

@media (max-width: 800px) {
  .score_card_header {
    min-height: auto;
    display: flex;
    align-items: unset;
    justify-content: center;
    padding: 2rem 2rem;
    flex-direction: column;
  }
  .score_card_header_left {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
}

@media (max-width: 500px) {
  .score_card_header_share_btn {
    display: block;
  }
  .score_card_header {
    padding: 3rem 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .score_card_header_left {
    margin-bottom: 0rem;
  }

  .score_card_left_live {
    display: none;
  }

  .score_card_header_right_title {
    display: none;
  }
  .score_card_header_right_social_icons {
    display: none;
  }
}
