.upcoming_matches_card {
  background: rgba(51, 162, 210, 0.05);
  border-radius: 10px;
  padding: 1.875rem;
  /* margin-bottom: 0.625rem; */
}
.upcoming_matches_card_title {
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 24px;
  text-align: center;
  color: #081027;
  margin-bottom: 2.25rem;
}
.upcoming_matches_card_teams {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.upcoming_matches_card_team {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.upcoming_matches_card_team.reverse {
  flex-direction: row-reverse;
}
.upcoming_matches_card_team_img {
  border: 1px solid #dedee4;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* margin-right: 1rem; */
}
.upcoming_matches_card_team.reverse .upcoming_matches_card_team_img {
  /* margin-left: 1rem; */
  margin-right: 0;
}
.upcoming_matches_card_team_title {
  width: 78px;
  font-weight: bold;
  font-size: 1rem;
  line-height: 24px;
  color: #081027;
}
.upcoming_matches_card_team.reverse .upcoming_matches_card_team_title {
  text-align: right;
}

.upcoming_matches_card_tems_vs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: rgba(51, 162, 210, 0.05);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 600;
  font-size: 0.75rem;
  color: #6e7077;
}

.upcoming_matche_happend {
  font-weight: normal;
  font-size: 0.813rem;
  color: #081027;
  margin-top: 1.875rem;
  text-align: center;
}

.upcoming_matches_card_team.reverse .upcoming_matches_card_team_runs {
  text-align: right;
}
.upcoming_matches_card_team.reverse .upcoming_matches_card_team_overs {
  text-align: right;
}

.upcoming_matches_card_team_runs {
  font-weight: normal;
  font-size: 13px;
  line-height: 22px;
  color: #081027;
}

.upcoming_matches_card_team_overs {
  font-weight: normal;
  font-size: 11px;
  line-height: 18px;
  color: #081027;
}

.upcoming_matches_match_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.match_details_title {
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 24px;
  color: #081027;
}
.match_details_subtitle {
  font-weight: normal;
  font-size: 0.813rem;
  line-height: 22px;
  color: #505d87;
}

.match_details_status {
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
}

.match_details_status.red {
  background: #e55353;
}
.match_details_status.blue {
  background: #33a2d2;
}

.match_details_status.green {
  background: #0fb918;
}

.upcoming_matches_match_details_result {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
  text-align: center;
  color: #33a2d2;
  margin-top: 30px;
}

@media (max-width: 1500px) {
  .upcoming_matches_card_title {
    font-size: 0.8rem;
  }

  .upcoming_matches_card_team {
    gap: 0.8rem;
  }

  .upcoming_matches_card_team_img {
    width: 45px;
    height: 45px;
  }
  .upcoming_matches_card_team_title {
    width: 78px;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 18px;
    color: #081027;
  }
  .upcoming_matches_card_team.reverse .upcoming_matches_card_team_title {
    text-align: right;
  }

  .upcoming_matches_card_tems_vs {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 400px) {
  .upcoming_matches_card_team {
    flex-direction: column;
    text-align: center;
  }

  .upcoming_matches_card_team.reverse {
    flex-direction: column;
  }

  .upcoming_matches_card_teams {
    align-items: flex-start;
  }

  .upcoming_matches_card_team.reverse .upcoming_matches_card_team_title {
    text-align: center;
  }

  .upcoming_matches_card_team.reverse .upcoming_matches_card_team_runs {
    text-align: center;
  }

  .upcoming_matches_card_team.reverse .upcoming_matches_card_team_overs {
    text-align: center;
  }
}

@media (max-width: 350px) {
  .match_details_status {
    padding: 8px 10px;
    font-size: 11px;
  }
}

@media (max-width: 300px) {
  .upcoming_matches_match_details {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: unset;
    gap: 10px;
  }
}
