.lates_cards {
  margin-bottom: 12.375rem;
}
.LatestNewsCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
}
.LatestNewsCards_2 {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.latest_news_manage_card {
  flex: 2;
  display: flex;
  border-radius: 10px;
  background: rgba(51, 162, 210, 0.05);
  overflow: hidden;
}
.latest_news_manage_card_left img {
  width: 550px;
  height: 100%;
}
.latest_news_manage_card_right {
  width: 100%;
  min-width: 200px;
  padding: 1.875rem;
}
.latest_news_manage_card_right_title {
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 36px;
  color: #081027;
  margin-bottom: 0.625rem;
}
.latest_news_manage_card_right_subtitle {
  font-weight: normal;
  font-size: 0.813rem;
  line-height: 22px;
  color: #6e7077;
  margin-bottom: 1.25rem;
}
.latest_news_manage_card_right_text {
  font-weight: normal;
  font-size: 0.813rem;
  line-height: 22px;
  color: #081027;
  margin-bottom: 1rem;
}
.latest_news_manage_card_right_link {
  font-weight: bold;
  font-size: 0.875rem;
  color: #33a2d2;
  text-decoration: none;
}

@media (max-width: 1300px) {
  .LatestNewsCards {
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .latest_news_manage_card {
    flex-direction: column;
  }
  .latest_news_manage_card_left img {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .latest_news_manage_card_right_text {
    display: none;
  }
  .latest_news_manage_card_right_link {
    display: none;
  }

  .latest_news_manage_card {
    width: 350px;
    background: white;
    border: 1px solid #dedee4;
  }
  .lates_cards {
    overflow-x: scroll;
    display: flex;
  }
  .LatestNewsCards {
    flex-direction: row;
    flex-wrap: nowrap;
    margin-right: 2rem;
  }
  .LatestNewsCards_2 {
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 2rem;
  }
}
