.information_card {
  background: #ffffff;
  border: 1px solid #dedee4;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.information_card_title {
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 24px;
  color: #33a2d2;
}
.information_card_subtitle {
  font-weight: normal;
  font-size: 0.938rem;
  line-height: 28px;
  color: #081027;
}
