.match_details {
  padding-top: 6.25rem;
}

.match_details_content {
  display: flex;
  margin-bottom: 6.25rem;
  gap: 2rem;
  align-items: flex-start;
}
.match_details_content_left {
  flex: 1;
  background: #ffffff;
  border: 1px solid #dedee4;
  box-sizing: border-box;
  border-radius: 10px;
}
.match_details_content_right {
  flex: 0.5;
  background: transparent;
}
.match_details_tabs {
  margin: 0 1.875rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dedee4;
  margin-bottom: 3.125rem;
  flex-wrap: wrap;
  /* border: 2px solid red; */
}
.match_details_tab {
  padding: 0.813rem 0.938rem;
  cursor: pointer;

  font-weight: normal;
  font-size: 0.875rem;
  line-height: 24px;
  color: #081027;
  border-bottom: 2px solid transparent;
}
.match_details_tabs_active {
  color: #33a2d2;
  border-bottom: 2px solid #33a2d2;
}

/* match_details_content_right */
.math_predictions {
  width: 100%;
  height: 350px;
  background: rgba(51, 162, 210, 0.05);
  border-radius: 10px;
  padding: 1.875rem;

  font-weight: normal;
  font-size: 1.25rem;
  line-height: 32px;
  color: #000000;

  margin-bottom: 3.125rem;
}

.upcoming_matches_titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.125rem;
}
.upcoming_matches_titles p {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 32px;
  color: #000000;
}
.upcoming_matches_titles a {
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 24px;
  color: #33a2d2;
  text-decoration: none;
}
.upcoming_matches_cards {
  margin-bottom: 3.125rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.upcoming_matche_movement_cards {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.score_card_2_wrapper {
  margin-bottom: 3.125rem;
}

.teams_current_details_table {
  width: 100%;
  border: 0;
  border-collapse: collapse;
}

.teams_current_details_table_head {
  background: rgba(51, 162, 210, 0.05);
}

.teams_details_table_headings {
  padding: 0.938rem 1rem;
  font-weight: bold;
  font-size: 0.875rem;
  color: #081027;
}

.teams_details_table_headings:first-child {
  text-align: left;
  padding: 0.938rem 1.875rem;
}

.teams_details_player_details {
  display: flex;
  align-items: center;
  padding: 0.938rem 1.875rem;
}
.teams_details_player_details_wrapper:nth-child(even) {
  background: #f9f9f9;
}
.teams_details_player_details img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1.25rem;
}
.teams_player_detail_title {
  font-weight: bold;
  font-size: 0.875rem;
  color: #081027;
  line-height: 24px;
}
.teams_player_detail_title.batting {
  color: #33a2d2;
}
.teams_player_detail_subtitle {
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 20px;
  color: #6e7077;
}
.teams_details_table_text {
  padding: 0.938rem 1rem;
  font-weight: bold;
  font-size: 0.875rem;
  color: #081027;
  text-align: center;
}

.teams_extras_details {
  border-top: 1px solid #dedee4;
  border-bottom: 1px solid #dedee4;
  margin-bottom: 1.875rem;
}

/* live_commentry */
.live_commentry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.875rem;
}
.live_commentry_title {
  font-weight: bold;
  font-size: 1.25rem;
  color: #000000;
}
.live_commentry_right {
  display: flex;
  align-items: center;
}
.match_details_scorecrd_table {
  margin-bottom: 1.875rem;
  margin-top: 1.875rem;
}
.match_details_players_table {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* squad_playing_X1 */
.squad_playing_X1 {
  background: rgba(51, 162, 210, 0.05);
  padding: 0.938rem 1.875rem;
  margin-top: 1rem;
}
.squad_playing_X1_cards {
  margin-top: 1.875rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
}

/* top_perfomers */
.top_perfomers_title {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 32px;
  color: #000000;
}

.top_players_team {
  display: flex;
  margin-top: 8rem;
}
.top_players_team_left {
  flex: 1;
  position: relative;
  z-index: 10;
}
.top_players_team_right {
  flex: 1;
  position: relative;
  z-index: 10;
}
.top_players_team_title {
  font-weight: bold;
  font-size: 1.25rem;
  color: #081027;
  margin-bottom: 1.875rem;
}
.top_players_team_cards {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 3rem;
}

.information_title {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 32px;
  color: #000000;
  margin-bottom: 1.875rem;
}
.information_cards {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

/* stats */
.stats_title {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 32px;
  color: #000000;
}
.stats_title_bar_wrapper {
  margin-top: 1.875rem;
  background: rgba(51, 162, 210, 0.05);
  padding: 15px;
}
.stats_title_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stats_title_bar_title {
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 24px;
  color: #081027;
}
.stats_title_bar_title_right {
  display: flex;
  align-items: center;
  gap: 1.25rem;

  font-weight: normal;
  font-size: 1rem;
  line-height: 24px;
  color: #081027;
}

.stats_title_bar_indicator {
  position: relative;
  display: flex;
}
.indicator_1::before {
  content: "";
  width: 24px;
  height: 24px;
  background: #33a2d2;
  border-radius: 5px;
  margin-right: 0.5rem;
}
.indicator_2::before {
  content: "";
  width: 24px;
  height: 24px;
  background: #0fb918;
  border-radius: 5px;
  margin-right: 0.5rem;
}

/* stats_chart */
.stats_chart {
  width: 100%;
  height: 500px;
  margin-top: 2rem;
  background-color: white;
}

/* stats_chart_2 */
.stats_chart_2 {
  width: 100%;
  height: 400px;
  margin-top: 2rem;
  background-color: white;
}

.stats_title_bar_title_right_filter {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #081027;
}

.stats_title_bar_title_right_dropdown {
  display: flex;
  align-items: center;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #081027;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .match_details_content_right {
    flex: 0.2;
    width: 330px;
    background: transparent;
  }
}

@media (max-width: 1000px) {
  .match_details_content_left {
    width: 100%;
  }

  .match_details_content_right {
    width: 100%;
  }
  .match_details_content {
    flex-direction: column;
  }
}

@media (max-width: 760px) {
  .match_details_content_wrapper .container-wrapper {
    width: 100%;
  }
  .upcoming_matches {
    padding: 0rem 1.25rem;
  }

  .match_details_tabs {
    flex-wrap: nowrap;
    margin-right: 0;
    overflow-x: scroll;
  }

  .match_details_tab {
    min-width: fit-content;
  }

  .match_details_content_left {
    border: 0px solid #dedee4;
  }
}

@media (max-width: 500px) {
  .squad_playing_X1_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}

@media (max-width: 440px) {
  .teams_current_details_table {
    min-width: 500px;
  }

  .teams_current_details_wrapper {
    overflow-x: scroll;
  }

  .teams_current_details_wrapper::-webkit-scrollbar {
    height: 10px;
  }
  .teams_current_details_wrapper::-webkit-scrollbar-track {
    background-color: white;
  }
  .teams_current_details_wrapper::-webkit-scrollbar-thumb {
    background-color: #e4e3e3;
    border-radius: 30px;
  }

  .live_commentry {
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    gap: 1rem;
  }
}

@media (max-width: 760px) {
  .stats_title_bar_wrapper {
    padding: 15px 0;
  }

  .top_players_team {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .stats_title_bar {
    display: flex;
    align-items: unset;
    justify-content: unset;
    flex-direction: column;
    gap: 1rem;
  }
}

@media (max-width: 300px) {
  .stats_title_bar_title_right {
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
  }
}
