.league_card {
  border-radius: 10px;
  box-shadow: 0px 12px 36px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  z-index: 1000;
  position: relative;
  overflow: hidden;
  background: #081027;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.125rem;
  position: relative;
}
.league_card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(8, 16, 39, 0.3) 0%,
    #081027 32.81%,
    #081027 68.75%,
    rgba(8, 16, 39, 0.3) 100%
  );
  backdrop-filter: blur(50px);
  z-index: -1;
}

.league_card_img_1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  transform: scale(1.2);
  z-index: -2;
  background-repeat: no-repeat;
}
.league_card_img_2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  transform: scale(1.2);
  z-index: -2;
  background-repeat: no-repeat;
}

.league_card_left {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.league_card_left_img {
  width: 150px;
  height: 150px;
  border: 1px solid #13b51b;
  border-radius: 50%;
  padding: 0.4rem;
}

.league_card_left_titles {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 0.625rem;
}

.league_card_left_title {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 36px;
  color: #ffffff;
}
.league_card_left_status {
  width: 70px;
  height: 32px;
  background: #e55353;
  border-radius: 5px;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.league_card_left_detail {
  font-weight: bold;
  font-size: 1rem;
  color: #33a2d2;
  margin-bottom: 0.75rem;
}

.league_card_left_dates {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.start_date {
  display: flex;
  align-items: center;
  gap: 10px;
}
.end_date {
  display: flex;
  align-items: center;
  gap: 10px;
}

.start_date_title {
  display: flex;
  align-items: center;
  color: #0fb918;
  gap: 6px;
}
.end_date_title {
  display: flex;
  align-items: center;
  color: #33a2d2;
  gap: 6px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 1rem;
}

.start_date_title img {
  width: 18px;
  height: 18px;
}

.league_card_left_dates_day {
  font-weight: normal;
  font-size: 0.875rem;
  color: #ffffff;
}

.league_card_right {
  display: flex;
  align-items: center;
  position: relative;
}
.league_card_right_divider {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}

.league_card_right_divider:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.league_card_right_views {
  display: flex;
  align-items: center;
  gap: 6px;
  color: white;
}

.league_card_left_titles_location {
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
  margin-bottom: 10px;
}

.league_card_left_titles_location p {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.league_card_right_follow_btn {
  display: none;
}

@media (max-width: 1400px) {
  .league_card_right_divider {
    padding: 0 20px;
  }

  .league_card_left {
    gap: 1.5rem;
  }

  .league_card_left_img {
    width: 135px;
    height: 135px;
  }
}

@media (max-width: 1300px) {
  .league_card_right {
    align-items: unset;
    flex-direction: column;
    gap: 1.5rem;
  }
  .league_card_right_divider {
    height: auto;
    display: flex;
    align-items: unset;
    justify-content: unset;
    padding: 0 0;
  }

  .league_card_right_divider:not(:last-child) {
    border-right: 0px;
  }
}

@media (max-width: 950px) {
  .league_card_left_dates {
    flex-direction: column;
    align-items: unset;
    justify-content: unset;
    margin-top: 1rem;
  }

  .end_date_title {
    border-left: 0px;
    padding-left: 0;
  }
}

@media (max-width: 850px) {
  .league_card_left {
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
  }
}

@media (max-width: 760px) {
  .league_card {
    margin-top: 30px;
  }
}

@media (max-width: 650px) {
  .league_card {
    padding: 20px;
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    gap: 2rem;
  }

  .league_card_right {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1.5rem;
  }
  .league_card_right_divider {
    flex: 1;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0;
  }

  .league_card_right::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.2);
  }
  .league_card_right.dontShowDividerLineInresponsive::after {
    content: "";
    display: none;
  }

  .league_card_right_divider:nth-child(2) {
    margin-left: 3rem;
  }

  .league_card_right_divider:last-child {
    display: none;
  }

  .league_card_right_follow_btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

@media (max-width: 400px) {
  .league_card_left_img {
    width: 70px;
    height: 70px;
  }

  .league_card_left_title {
    font-size: 1.1rem;
    line-height: 22px;
  }

  .league_card_left_titles {
    justify-content: space-between;
  }
}

@media (max-width: 326px) {
  .league_card_right {
    gap: 1rem;
  }

  .league_card_right::after {
    display: none;
  }

  .league_card_right_divider:nth-child(2) {
    margin-left: 0rem;
  }
}
