.table_container {
  border-radius: 9px;
  overflow: hidden;
  border: 1px solid #dedee4;
}
.table_container.no-border {
  border: 0;
  border-radius: 0px;
}

.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.table_thead {
  background: #e5f3f8;
}
.table th,
.table td {
  padding: 15px 20px;
}

.table th {
  font-weight: bold;
  font-size: 0.875rem;
  color: #081027;
}

.table_th_1 {
  text-align: center;
  width: 70px;
}

.table_th_1.squeeze {
  text-align: center;
  padding: 15px 0px !important;
  width: 50px;
}

.table_content {
  display: flex;
  align-items: center;
  gap: 20px;
}
.table_content_img {
  width: 40px;
  height: 40px;
}
.table_content_title {
  font-weight: bold;
  font-size: 0.875rem;
  color: #081027;
}

.table_container_tr:nth-child(even) {
  background: #f9f9f9;
}

.table_content_subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  margin-top: 0.1rem;
  color: #33a2d2;
}

.table_content_item {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #081027;
  text-align: center;
}

@media (max-width: 760px) {
  .table_container {
    overflow-x: scroll;
  }

  .table {
    min-width: 800px;
  }
}
