.boundaries_tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}
.boundaries_stats_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.boundaries_dropdown {
  display: flex;
  align-items: center;
  gap: 96px;
}
