.titlebar_4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.titlebar_4_left {
  display: flex;
  align-items: center;
  gap: 0 1.25rem;
}
.titlebar_4_rate {
  width: 60px;
  height: 60px;
  background: #e5f3f8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  font-size: 16px;
  color: #081027;
}

.titlebar_4_title {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #081027;

  margin-bottom: 0.313rem;
}

.titlebar_4_subtitle {
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #081027;
}

.titlebar_4_ball_status {
  width: 60px;
  height: 60px;
  background: #ffffff;
  border: 1px solid #dedee4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titlebar_4_ball_status.wicket {
  border: 1px solid #e55353;
  background-color: #e55353;
  color: white;
}
.titlebar_4_ball_status.blue {
  border: 1px solid #33a2d2;
  background: #33a2d2;
  color: white;
}

@media (max-width: 500px) {
  .titlebar_4_rate {
    width: 45px;
    height: 45px;
    font-size: 13px;
  }

  .titlebar_4_ball_status {
    width: 45px;
    height: 45px;
  }

  .titlebar_4_left {
    gap: 0 0.8rem;
  }
}

@media (max-width: 400px) {
  .titlebar_4_rate {
    width: 40px;
    height: 40px;
    font-size: 12px;
  }

  .titlebar_4_ball_status {
    width: 40px;
    height: 40px;
  }

  .titlebar_4_left {
    gap: 0 0.7rem;
  }
}
