.title_bar_2 {
  margin-bottom: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title_bar_2_title {
  font-style: normal;
  font-weight: 600;
  font-size: 0.813rem;
  line-height: 22px;
  margin-bottom: 1.25rem;
  color: #6e7077;
}
.title_bar_2_subtitle {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 36px;
  color: #081027;
}
.watching {
  display: flex;
  align-items: center;
}
.watching img {
  margin-right: 1rem;
}
.watching p {
  font-weight: bold;
  font-size: 0.875rem;
  color: #081027;
}

.title_bar_2_right {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
}

.divider {
  padding-left: 1.875rem;
  margin-left: 1.875rem;
  border-left: 1px solid #dedee4;
}
.subscribe_link {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: rgba(51, 162, 210, 0.1);
  border-radius: 10px;
  padding: 1.25rem;

  font-style: normal;
  font-weight: bold;
  font-size: 0.9rem;
  color: #33a2d2;
}
.subscribe_link img {
  margin-right: 0.3rem;
}

.title_share_btn {
  display: none;
}

@media (max-width: 1000px) {
  .title_bar_2_right {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .title_bar_2 {
    gap: 2rem;
  }

  .divider {
    padding-left: 0;
    margin-left: 0;
    border-left: 0;
  }
}

@media (max-width: 760px) {
  .title_bar_2 {
    gap: 2rem;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 600px) {
  .score_card_header_right {
    display: none;
  }

  .title_bar_2_right {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0;
  }

  .title_share_btn {
    display: block;
  }

  .divider {
    padding-left: 1.875rem;
    margin-left: 0;
    border-left: 1px solid #dedee4;
  }

  .subscribe_link {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .subscribe_link p {
    display: none;
  }
  .subscribe_link img {
    margin-right: 0;
  }

  .title_bar_share_btns {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
  }

  .watching {
    /* border: 2px solid red; */
    flex: 1;
  }

  .divider.showOnResponsive {
    flex: 1;
    width: 100%;
    padding-left: 0;
    border: 0;
  }
  .score_card_header_right.showOnResponsive {
    display: flex;
  }
}
