.modal {
  position: fixed;
  width: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1000000000000000000000000000000;
  opacity: 1;
  transition: all 0.2s ease;
  /* border: 2px solid red; */
  width: 90%;
  max-width: 500px;
}
.modal.show {
  opacity: 1;
  z-index: 100000000;
}

.modal_form {
  padding: 2rem 2rem;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  display: none;
  position: relative;
}
.modal.show .modal_form {
  display: block;
  z-index: 100000000;
}

.modal_form input {
  width: 100%;
  display: block;
  border: 1px solid #dedee4;
  border-radius: 10px;
  position: relative;
  margin-right: 1.5rem;
  background-color: white !important;
  padding: 1rem;
  margin-bottom: 1rem;
  outline: none;
}
