.competitions_cards {
  margin-bottom: 4rem;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
.competitions_cards_tabs {
  display: flex;
  align-items: center;
  margin-bottom: 3.125rem;
}
.competitions_tab {
  padding: 13px 15px;
  border-bottom: 2px solid transparent;
  font-weight: normal;
  font-size: 0.875rem;
  color: #081027;
  cursor: pointer;
}
.competitions_tab.competitions_tab_active {
  border-bottom: 2px solid #33a2d2;
  color: #33a2d2;
}

@media (max-width: 760px) {
  .competitions_cards_tabs {
    margin-bottom: 30px;
  }
}

@media (max-width: 600px) {
  .competitions_cards {
    overflow-x: scroll;
    flex-wrap: nowrap;
  }

  .competitions_cards .competitions_card {
    min-width: 308px;
  }

  .competitions_cards::-webkit-scrollbar {
    /* background: orange; */
    height: 5px;
  }
}
