@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  font-size: 100%;
  --size-100-px: 6.25rem;
}
.bg-liner-gradient {
  background: linear-gradient(
    180deg,
    #e5f3f8 0%,
    rgba(255, 255, 255, 0) 20%,
    white 100%
  );
  padding-top: 6.25rem;
}
.row {
  display: flex;
}
.row.align-center {
  align-items: center;
}
.row.justify-center {
  justify-content: center;
}
.row.gap-50 {
  gap: 20px;
}

.mb-100 {
  margin-bottom: 100px;
}
.mb-70 {
  margin-bottom: 70px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-20 {
  margin-bottom: 20px;
}
.py-30 {
  padding: 30px 0;
}

.text-center {
  text-align: center;
}

.container-wrapper {
  width: 90%;
  max-width: 1900px;
  margin: 0 auto;
}
.container-wrapper-30 {
  padding: 0 1.875rem;
}

.box {
  background: #ffffff;
  border: 1px solid #dedee4;
  box-sizing: border-box;
  border-radius: 10px;
}

.bold {
  font-weight: bold;
  color: #081027;
}
.color-blue {
  color: #33a2d2;
}

.scrollbar-height-0::-webkit-scrollbar {
  height: 0;
}

.score_card_social_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin: 0 0.3rem;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.score_card_social_icon.dark {
  background: rgba(8, 16, 39, 0.1);
  color: #6e7077;
}

.score_card_header_right_title {
  font-size: 1rem;
  color: #ffffff;
  margin-right: 1rem;
}

.score_card_header_right_title.dark {
  color: #6e7077;
}

.load_more_btn {
  width: 142px;
  height: 50px;
  background: #e5f3f8;
  color: #33a2d2;
  outline: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 0.875rem;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

@media (max-width: 1000px) {
  :root {
    font-size: 90%;
  }
}

@media (max-width: 760px) {
  .container-wrapper-30 {
    width: 90%;
    margin: 0 auto;
    padding: 0 0;
  }

  .bg-liner-gradient {
    padding-top: 30px;
  }

  .mb-70 {
    margin-bottom: 50px;
  }
}

@media (max-width: 450px) {
  :root {
    font-size: 80%;
  }
}
