@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
:root {
  font-size: 100%;
}
.container-wrapper {
  width: 90%;
  max-width: 1900px;
  margin: 0 auto;
}
.bold {
  font-weight: bold;
  color: #081027;
}

.score_card_social_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin: 0 0.3rem;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.score_card_social_icon.dark {
  background: rgba(8, 16, 39, 0.1);
  color: #6e7077;
}

.score_card_header_right_title {
  font-size: 1rem;
  color: #ffffff;
  margin-right: 1rem;
}

.score_card_header_right_title.dark {
  color: #6e7077;
}

@media (max-width: 1000px) {
  :root {
    font-size: 90%;
  }
}

@media (max-width: 450px) {
  :root {
    font-size: 80%;
  }
}
